body{
	background-color: #f5f5f5;
}
.header{
	text-align:center;
	background-color: #011e29;
	color:white;
	padding:20px;
	
}
h2{
	text-align:center;
}
.latest-news-section{
	border:no-close-quote;
	border-radius:5px;
	background-color:white;
	width:30%;
	height:10%;
	margin:10px;
.h3ading{
	text-align:center;
}
}
.main-article{
	border:no-close-quote;
	border-radius:5px;
	background-color:white;
	width:30%;
	height:10%;
	margin:10px;
}
.pictorial-news-section{
	border: no-close-quote;
	border-radius:5px;
	background-color:white;
	width:33%;
	height:10%;
	margin:10px;
	text-align:center;
}
.container{
	display:flex;
	justify-content:center;
}
img{
	width:200px;
	margin-left:7px;
	margin-bottom:5px;
}